In [66]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.datasets import load_boston

In [67]:
boston = load_boston()

In [68]:
boston_df = pd.DataFrame(boston.data,columns=boston.feature_names)

In [69]:
boston_df

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33
...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1.0,273.0,21.0,391.99,9.67
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1.0,273.0,21.0,396.90,9.08
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1.0,273.0,21.0,396.90,5.64
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1.0,273.0,21.0,393.45,6.48
505,0.04741,0.0,11.93,0.0,0.573,6.030,80.8,2.5050,1.0,273.0,21.0,396.90,7.88

In [70]:
boston_target = pd.DataFrame(boston.target,columns=['target'])

In [71]:
boston_target

     target
0      24.0
1      21.6
2      34.7
3      33.4
4      36.2
..      ...
501    22.4
502    20.6
503    23.9
504    22.0
505    11.9

[506 rows x 1 columns]

In [72]:
x_train,x_test,y_train,y_test = train_test_split(boston_df,boston_target,random_state=0,test_size=.2)

In [73]:
from sklearn.ensemble import GradientBoostingRegressor

In [74]:
gbr =GradientBoostingRegressor(n_estimators=100)

In [75]:
gbr.fit(x_train,y_train)

c:\users\hp\appdata\local\programs\python\python37\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

GradientBoostingRegressor()

In [76]:
gbr.score(x_test,y_test)

0.779037157272773

In [77]:
from sklearn.model_selection import RandomizedSearchCV

In [78]:
par = {'loss':['ls', 'lad'],'learning_rate':[0.15,0.2,.1,0.05],'n_estimators':[100,200,150,400,300],'min_samples_leaf':[1,3,4,5,7]}

In [79]:
par

{'loss': ['ls', 'lad'],
 'learning_rate': [0.15, 0.2, 0.1, 0.05],
 'n_estimators': [100, 200, 150, 400, 300],
 'min_samples_leaf': [1, 3, 4, 5, 7]}

In [80]:
random = RandomizedSearchCV(gbr,par,scoring='r2',n_jobs=2)

In [81]:
random.fit(x_train,y_train)

c:\users\hp\appdata\local\programs\python\python37\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

RandomizedSearchCV(estimator=GradientBoostingRegressor(), n_jobs=2,
                   param_distributions={'learning_rate': [0.15, 0.2, 0.1, 0.05],
                                        'loss': ['ls', 'lad'],
                                        'min_samples_leaf': [1, 3, 4, 5, 7],
                                        'n_estimators': [100, 200, 150, 400,
                                                         300]},
                   scoring='r2')

In [82]:
random.best_params_

{'n_estimators': 150,
 'min_samples_leaf': 7,
 'loss': 'ls',
 'learning_rate': 0.1}

In [86]:
gbr =GradientBoostingRegressor(n_estimators=150,min_samples_leaf=7,loss='ls')

In [87]:
gbr.fit(x_test,y_test)

c:\users\hp\appdata\local\programs\python\python37\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

GradientBoostingRegressor(min_samples_leaf=7, n_estimators=150)

In [88]:
gbr.score(x_test,y_test)

0.9885267032843157